.comingsoon{
    color: white;
    font-family: Courier New;    
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
  
}

.soon{
    margin-left: 50px;
}

/*
.spinhov3D
{
    width: 270px;
    height: 480px;
    padding-bottom: 222px;
    margin-left: 550px;
    opacity: 0.7;
 } 
     @keyframes spin3D 
     {
        from { transform: rotateY(0deg) }
        to { transform: rotateY(360deg) }
      }
      .spinhov3D:hover 
      {
        cursor: pointer;
        animation-name: spin3D;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        
        animation-timing-function: linear;
        
      }*/

      .flip-card {
        margin-left: 550px;
        background-color: transparent;
        width: 270px;
        height: 480px;
        perspective: 1000px;
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .flip-card-front {
        background-color: rgb(57, 55, 55);
        color: rgb(249, 243, 243);
        text-align: center;
        font-size: 50px;
        font-family: 'Courier New', Courier, monospace;
        
        
        }
      
      .flip-card-back {
        background-color: #2980b9;
        color: white;
        transform: rotateY(180deg);
      }

.homebutton{
  margin-left: 300px;
  height: 100px;
}

.homebuttonicon{
  color: white;
  font-size: 50px;
  margin-left: 380px;
  margin-right: 800px;
}

.homebuttonicon:hover{
  color: red;
 

}

.homebuttona{
  color: black;
 
}

