.comingsoon{
    color: white;
    font-family: Courier New;    
    font-size: 60px;
    text-align: center;
    padding-top: 190px;
  
}

.soon{
    margin-left: 50px;
}

.spinhov3D
{
    width: 270px;
    height: 480px;
    padding-bottom: 222px;
    margin-left: 550px;
    opacity: 0.7;
 } 
     @keyframes spin3D 
     {
        from { transform: rotateY(0deg) }
        to { transform: rotateY(360deg) }
      }
      .spinhov3D:hover 
      {
        cursor: pointer;
        animation-name: spin3D;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        /* linear | ease | ease-in | ease-out | ease-in-out */
        animation-timing-function: linear;
        
      }